<body>
    <main>
        {{ if .Site.Params.about.enable }}
        <section class="o-nas one-site">
            <h2>{{ with .Site.Params.about.heading }} {{ . }} {{ end }}</h2>
            <p>{{ with .Site.Params.about.description }} {{ . }} {{ end }}</p>
        </section>
        {{ end }}

        {{ if .Site.Params.video.enable }}
        <section class="video one-site" style="display:none;">
            {{ with .Site.Params.video.video1 }}  
            <iframe width="560" height="315" src="{{ . }}" frameborder="0"></iframe>
            {{ end }}
            {{ with .Site.Params.video.video2 }}  
            <iframe width="560" height="315" src="{{ . }}" frameborder="0"></iframe>
            {{ end }}
        </section>
        {{ end }}

        {{ if .Site.Params.contact.enable }}
        <section class="kontakt one-site" style="display:none">
            {{ with .Site.Params.contact.heading }}  <h2>{{ . }}</h2> {{ end }}
            {{ with .Site.Params.contact.description }}  <p>{{ . }}</p> {{ end }}
            {{ with .Site.Params.contact.contact }}  <p>{{ . }}</p> {{ end }}
        </section>
        {{ end }}
        

        
        <section class="sklepy one-site" style="visibility: hidden;">
            <div class="map">
                <iframe src="" width="640"
                    height="480"></iframe>
            </div>
        </section>
    </main>
</body>
