<body>
    <main>
        <section class="o-nas one-site">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis diam ut fermentum ornare. Sed viverra scelerisque porta. Cras nulla massa, suscipit id vulputate sit amet, efficitur ultrices ipsum. Sed sed neque sit amet nibh gravida congue. Proin placerat tortor ut sagittis volutpat. Praesent maximus mauris a molestie rhoncus. Duis maximus mi nec laoreet ultricies. Nunc sed ipsum vestibulum, consectetur enim in, aliquet purus. Mauris quis euismod ex, non efficitur sapien. Sed mattis tincidunt dui. Aenean eu ipsum sagittis, venenatis tellus non, iaculis purus. In scelerisque lacus nec vulputate fringilla. Duis sed posuere risus. Nulla nec orci hendrerit, ornare massa aliquet, convallis mauris. Nunc odio ex, porta sit amet vehicula in, hendrerit sit amet dui.

Suspendisse in consequat quam, vitae vulputate augue. Maecenas quis lectus nibh. Sed dictum porta justo, nec pellentesque est gravida sed. Proin venenatis libero ac pharetra aliquam. Vestibulum et nisl at magna imperdiet egestas. Nulla venenatis elementum eros, vel commodo ligula accumsan elementum. Suspendisse malesuada facilisis lectus eu facilisis. Curabitur porta facilisis dapibus. Proin ut convallis arcu. Quisque malesuada ante non sem sodales, vel fringilla sapien blandit. Vestibulum maximus lorem augue, ut efficitur mauris gravida sit amet. Nullam placerat efficitur est, eget venenatis justo. Proin elementum erat quis augue maximus egestas. Pellentesque id elit malesuada, scelerisque turpis vel, efficitur metus.</p>
    
        </section>
         
        <section class="video one-site" style="display:none;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/i_T605RO-Yo" frameborder="0"></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Bvdihtvt13Q" frameborder="0"></iframe>
        </section>
        <section class="kontakt one-site" style="display:none">
            <h2>Our Company</h2>
    
            <p>
               ul. Somehere
            </p>
            <p>
                e-mail: kontakt@owlstd.io<br/>
            </p>
        </section>
        <section class="sklepy one-site" style="visibility: hidden;">
            <div class="map">
                <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1Fh-eyrVdpp5Z8PNZusTmkXIgTKo" width="640" height="480"></iframe>
            </div>
        </section>
    </main>
</body>