<footer>
    <section id="links">
        <ul>
            {{ if .Site.Params.about.enable }}
            <li><a href="{{ .Site.BaseURL }}#{{ i18n "about" | anchorize }}" onClick="about()">
                    {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                </a></li>
            {{ end }}
            {{ if .Site.Params.video.enable }}
            <li><a href="{{ .Site.BaseURL }}#{{ i18n "video" | anchorize }}" onClick="video()">
                    {{ with .Site.Params.navigation.video }} {{ . }} {{ end }}
                </a></li>
            {{ end }}
            {{ if .Site.Params.contact.enable }}
            <li><a href="{{ .Site.BaseURL }}#{{ i18n "contact" | anchorize }}" onClick="contact()">
                    {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
                </a></li>
            {{ end }}
            {{ if .Site.Params.other.enable }}
            <li><a href="{{ .Site.BaseURL }}#{{ i18n "other" | anchorize }}" onClick="other()">
                    {{ with .Site.Params.navigation.other }} {{ . }} {{ end }}
                </a></li>
            {{ end }}
            {{ if .Site.Params.link.enable }}

            <li><a href="{{ with .Site.Params.link.href }}{{ . }}{{end}}">
                    {{ with .Site.Params.navigation.link }} {{ . }} {{ end }}
                </a></li>

            {{ end }}
        </ul>
    </section>
    <section id="social-links">
        {{ if .Site.Params.social.fb }}
            <a href="{{ with .Site.Params.social.fbHref }}{{ . }}{{end}}" class="symbol" title="&#xe227;"></a>
        {{ end }}
        {{ if .Site.Params.social.yt }}
            <a href="{{ with .Site.Params.social.ytHref }}{{ . }}{{end}}" class="symbol" title="&#xe299;"></a>
        {{ end }}
        {{ if .Site.Params.social.ig }}
            <a href="{{ with .Site.Params.social.igHref }}{{ . }}{{end}}" class="symbol" title="&#xe300;"></a>
        {{ end }}
        {{ if .Site.Params.social.vimeo }}
        <a href="{{ with .Site.Params.social.vimeoHref }}{{ . }}{{end}}" class="symbol" title="&#xe289;"></a>
    {{ end }}

    </section>
    <section id="copyright">
        <p>created by <a href="owlstd.io">owlsdt.io</a></p>
    </section>
</footer>
<script src="{{ `js/jquery-3.1.1.min.js` | absURL }}"></script>

<script src="{{ `js/site.js` | absURL }}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-XXXXXXX', 'auto');
ga('send', 'pageview');
</script>
</html>