<header>
    <div id="logo">
        <a href="/">
            <img src="images/site/main-logo.png" alt=""/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#" onClick="onas()">O nas</a></li>
            <li><a href="#" onClick="video()">video</a></li>
            <li><a href="#" onClick="kontakt()">kontakt</a></li>
            <li><a href="#" target="_blank">Sklep internetowy</a></li>
            <li><a href="#" onClick="sklepy()">Nasze sklepy</a></li>
        </ul>
    </nav>
</header>