<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}pl{{ end }}">
<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{.Description}}">
    <base href="{{ .Site.BaseURL }}">
    
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="{{ `css/font.css` | absURL }}">
    <link rel="stylesheet" href="{{ `css/owl.carousel.css` | absURL }}">
    <link rel="stylesheet" href="{{ `css/owl.transitions.css` | absURL }}">
    <link rel="stylesheet" href="{{ `css/style.css` | absURL }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    
</head>